__pycache__/
FoodSAM/ckpts/SETR_MLA/*
!FoodSAM/ckpts/SETR_MLA/.gitkeep
FoodSAM/ckpts/*
FoodSAM/dataset/images.jpeg
FoodSAM/dataset/image2.jpeg
Week3/checkpoints/sam_vit_h_4b8939.pth
Week3/sam2/
Week4/InstantMesh/*
Week4/InstantMesh/.*
!Week4/InstantMesh/outputs/
!Week4/InstantMesh/outputs/**
!Week4/InstantMesh/outputs_sam2/
!Week4/InstantMesh/outputs_sam2/**
!Week4/InstantMesh/*.ipynb

# FoodSAM nutrition50 datasets and outputs
FoodSAM/dataset/nutrition50_flat/
FoodSAM/dataset/nutrition50_subset-*/
FoodSAM/nutrition50_foodSAM_outputs/
FoodSAM/zoedepth_nutrition50_outputs/
FoodSAM/nutrition50_validation.csv

# Keep only notebooks under llms_approach
llms_approach/*
!llms_approach/*.ipynb
!llms_approach/**/*.ipynb

# Keep only notebooks under Week6
Week6/*
!Week6/*.ipynb
!Week6/**/*.ipynb
